*{
    padding: 0px;
	margin: 0px;

}
body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
#header{
   grid-column: 1/13; 
    background-color: lightskyblue;
    color: white;
    padding: 20px 10px 40px 10px;
}
#menu{
    grid-column: 1/13;
}
#menu ul{
    background: blue;
    text-align: center;
}
#menu li{
    color: #f1f1f1;
    display: inline-block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}
#menu a{
    text-decoration: none;
    color: white;
    display: block;
}
#menu a:hover{
    background:black;
    color: palegreen;
}
#menu li{
    position: relative;
}
.sub-menu{
    display: none;
    position: absolute;
    z-index: 1;
}
#menu li:hover .sub-menu{
    display: block;
}
.sub-menu li {
    margin-left: -5px !important;
}
#main{
    padding: 10px;
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12,1fr);
}
#search{
    grid-column: 1/4;

}
input:hover{
	background: rgb(156, 151, 151);
}
#anh{
    grid-column: 4/13;
}
img{
    width:90%;
    padding-left: 5%;
    height: 270px;
}
article{
    width: 20%;
	border-width: 1px;
	border-color: #000000;
	border-style: solid;
	margin: 5px;
	float: left;
}
h1{
    padding-left: 5px;
}
#footer{
    grid-column: 1/13;
    text-align: center;
    width: 100%;
    background-color: skyblue;
    margin-top: 60px;
    padding:20px 0;
    float: left;
    color: white;
}
@media screen and (max-width:768px) {
    #header{
        grid-column: 1/13;
    }
    #menu{
        grid-column: 1/13;
    }
    #search{
        grid-column: 1/13;
    }
    #anh{
        grid-column: 1/13;
    }
    article{
		width: 40%;
		margin: 20px;
		text-align: center;
		border-width: 1px;
		border-color: #000000;
		border-style: solid;
		float: left;
	}
    img {
        padding-left:0;
        height: 340px;
        }

    #footer{
        grid-column: 1/13;
    }
}
